/* Font family Libre Bodoni & Antonio */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

/* Descriptions
1. Root settings
2. Header & navbar
3. Main Container
4. Upper Section
5. Middle Section
6. Bottom Section
7. Footer Container
*/

/* 1. Root Settings */
:root {
  --TRredOrange: #f7644d;
  --black: #272625;
  --BGbeige: #faf3e6;
  --TRleorange: #ce8f3e;
  --TRgreen: #a6baad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--BGbeige);
  font-family: Libre Bodoni;
}

/* Kanske göra en klass i sig som vinklar boxar - knsk inte */
header {
  display: flex;
  justify-content: center;
}

.top-triangle {
  background-color: var(--TRredOrange);
  width: 300px;
  height: 300px;
  top: -10em;
  position: absolute;
  transform: rotate(45deg);
  z-index: -1;
}

.top-border {
  z-index: 1;
  display: flex;
  margin: auto;
  margin-top: .6em;
  width: 99%;
  height: 15px;
  background-image: url(/images/img-lg-horiz-border.png);
  background-repeat: repeat-x;
}

/* 2. Header & navbar */

.navbar {
  padding: 0.5em 2.5em;
  display: flex;
  justify-content: center;
}

/* space in between verkar inte göra nåt. knsk ta bort. */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 3rem;
}

.space {
  flex: 1;
}

/* Gör text röd vid hovring */
.navbar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--black);
}

/* lägg media query vid 1300 */
/* Lägg till side borders på main */

/* Main Container */
.main-container {
  width: 70%;
  margin: 22vh auto auto auto;
}

/* Upper Section */
.upper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finurlar {
  display: flex;
  justify-content: center;
  margin: 0 20% 0 20%;
}

.finurlar img {
  display: flex;
  margin-bottom: -2.2em;
  min-width: 1em;
  height: 2em;
}

/* Pröva på att ändra från var jag ändrar h1 - typ upper-section*/
.main-container>section>h1 {
  display: flex;
  justify-content: center;
  padding: .3em 0 1em 0;
}

.main-container h1:nth-child(2) {
  font-size: 2em;
}

.main-container h1:nth-child(3) {
  font-size: 6.5em;
}

/* Middle Section */
.middle-section {
  background-image: url(/images/img-bottle.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 40vh;
  padding: 1em;
}

/* Bottom Section */
.bottom-section {
  margin: 1em 4.5em 0;
  display: flex;
  flex-direction: column;
}

.h2-container {
  padding-top: 2em;
  margin-bottom: .6em;
  display: flex;
  flex-direction: column;
}

.h2-container>h2 {
  display: flex;
  justify-content: center;
}

.h2-container>h2+h2>strong {
  display: flex;
  justify-content: center;
}

.bottom-section h2 {
  font-size: 3em;
}

.bottom-section h2>strong {
  font-size: 2em;
  padding-bottom: .2em;
}

.bottom-section p {
  font-size: 1.4em;
  text-align: center;
  padding: 1em;
}

/* Footer Container */
.footer-container {
  display: flex;
  margin: 1em 4.5em;
  flex-direction: column;
}

.border-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Gör text röd vid hovring */
.border-container h2 {
  font-size: 2em;
}

/* Gör hand rörlig vid hovring */
.border-container img {
  width: 12em;
  height: 7em;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* Gör text röd vid hovring */
.footer-nav a {
  font-family: Antonio;
  font-size: 1.5em;
  text-decoration: none;
  color: var(--black);
}

.guy {
  display: flex;
  margin: auto;
  padding-top: 4em;
  width: 20em;
  height: 35em;
}
