/* Font family Libre Bodoni */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Descriptions
1. Root settings
2. Header & navbar
3. Main
*/

/* 1. Root Settings */
:root {
  --TRredOrange: #f7644d;
  --black: #272625;
  --BGbeige: #faf3e6;
  --TRleorange: #ce8f3e;
  --TRgreen: #a6baad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--BGbeige);
  font-family: Libre Bodoni;
}

/* Kanske göra en klass i sig som vinklar boxar */
header {
  display: flex;
  justify-content: center;
}

.top-triangle {
  background-color: var(--TRredOrange);
  width: 300px;
  height: 300px;
  top: -10em;
  position: absolute;
  transform: rotate(45deg);
  z-index: -1;
}

.top-border {
  z-index: 1;
  display: flex;
  margin: auto;
  margin-top: .6em;
  width: 99%;
  height: 15px;
  background-image: url(/images/img-lg-horiz-border.png);
  background-repeat: repeat-x;
}

/* 2. Header & navbar */

.navbar {
  padding: 0.5em 2.5em;
  display: flex;
  justify-content: center;
}

/* space in between verkar inte göra nåt. knsk ta bort. */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 3rem;
}

.space {
  flex: 1;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--black);
}

/* lägg media query vid 1300 */
/* main */
.main-container {
  width: 70%;
  margin: 22vh auto auto auto;
}

.upper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finurlar {
  display: flex;
  justify-content: center;
  margin: 0 20% 0 20%;
}

.finurlar img {
  display: flex;
  margin-bottom: -2.2em;
  min-width: 1em;
  height: 2em;
}

.main-container>section>h1 {
  display: flex;
  justify-content: center;
  padding: .3em 0 1em 0;
}



/* .upper-section img {
  display: flex;
  width: 50%;
  margin: 0 auto -2.6em;
  min-height: 100%;
  margin: 0 auto -2.6em;
  width: auto;
  height: auto;
  max-height: 2.5em;
  min-height: 1.5em;
  max-width: 35vw;
  min-width: 25vw;
} */

*/ .main-container h1:nth-child(2) {
  font-size: 2em;
}

.main-container h1:nth-child(3) {
  font-size: 6.5em;
}
