/* Font family Libre Bodoni & Antonio */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

/* Descriptions
1. Root settings
2. Header & navbar
3. Main Container
4. Upper Section
5. Middle Section
6. Bottom Section
7. Footer Container
*/

/* 1. Root Settings */
:root {
  --TRredOrange: #f7644d;
  --black: #272625;
  --BGbeige: #faf3e6;
  --TRorange: #ce8f3e;
  --TRgreen: #a6baad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--BGbeige);
  font-family: Libre Bodoni;
}

/* 2. Header & navbar */
header {
  display: flex;
  justify-content: center;
}

.top-triangle {
  background-color: var(--TRredOrange);
  width: 45vh;
  height: 40vh;
  top: -14em;
  position: absolute;
  transform: rotate(45deg);
  z-index: -1;
  right: 42vw;
}

/* .relativcontainer {
  position: relative;
  height: 27vh;
}

.topTriangeln {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 17vw solid transparent;
  border-left: 17vw solid transparent;
  border-top: 17vw solid var(--TRredOrange);
} */

.top-border {
  z-index: 1;
  display: flex;
  margin: auto;
  margin-top: .6em;
  width: 99%;
  height: 15px;
  background-image: url(/images/img-lg-horiz-border.png);
  background-repeat: repeat-x;
}


.navbar {
  padding: 0.5em 2.5em;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 3rem;
}

.space {
  flex: 1;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--black);
}

.navbar a:hover {
  color: var(--TRredOrange);
}

/* Lägg till side borders på main */

/* Main Container */
.main-container {
  width: 80%;
  margin: 22vh auto auto auto;
}

/* Upper Section */
.upper-section {
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

.finurlar {
  display: flex;
  height: 14vh;
  justify-content: center;
  overflow-y: hidden;
  flex-wrap: wrap;
  align-content: center;
}

.finurlar h1 {
  font-size: 6vw;
}

.finurlar img {
  display: flex;
  margin-top: 3vh;
  width: 15%;
  height: 35%;
}

.upper-section h1:nth-child(3) {
  font-size: 10vw;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  font-weight: lighter;
  text-align: center;
}

/* Middle Section */
.middle-section {
  background-image: url(/images/img-bottle.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 40vh;
  padding: 1em;
}

/* Bottom Section */
.bottom-section {
  margin: 1em 4.5em 0;
  display: flex;
  flex-direction: column;
}

.h2-container {
  padding-top: 2em;
  margin-bottom: .6em;
  display: flex;
  flex-direction: column;
}

.h2-container>h2 {
  display: flex;
  justify-content: center;
}

.h2-container>h2+h2>strong {
  display: flex;
  justify-content: center;
}

.bottom-section h2 {
  font-size: 3em;
}

.bottom-section h2>strong {
  font-size: 2em;
  padding-bottom: .2em;
}

.bottom-section p {
  font-size: 1.4em;
  text-align: center;
  padding: 1em;
}

/* Footer Container */
.footer-container {
  display: flex;
  margin: 1em 4.5em;
  flex-direction: column;
}

.border-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Gör text röd vid hovring */
.border-container h2 {
  font-size: 2em;
}

/* Gör hand rörlig vid hovring */
.border-container img {
  width: 12em;
  height: 7em;
}

/* .border-container img:hover {
  color: var(--TRredOrange);
} */

.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: .5em;
  margin-bottom: .5em;
}

.footer-nav a {
  font-family: Antonio;
  font-size: 1.5em;
  text-decoration: none;
  color: var(--black);
}

.footer-nav a:hover {
  color: var(--TRredOrange);
}

.guy {
  display: flex;
  margin: auto;
  padding-top: 4em;
  width: 30vw;
  height: 105vh;
  z-index: 3;
}

.border-bottom {
  display: flex;
  justify-content: center;
}

.footer-border {
  z-index: 3;
  display: flex;
  margin: auto;
  margin-top: .6em;
  width: 99%;
  height: 15px;
  background-image: url(/images/img-lg-horiz-border.png);
  background-repeat: repeat-x;
  margin-bottom: .6em;
}

.triangle-Guy-bottom-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: hidden;
  margin-bottom: -3.2vh;
}

.yellow-triangle {
  opacity: 1;
  z-index: 2;
  position: absolute;
  bottom: -7%;
  width: 0;
  height: 0;
  border-left: 25vw solid transparent;
  border-right: 25vw solid transparent;
  border-bottom: 30vw solid var(--TRorange);
}

.green-triangle {
  opacity: 1;
  z-index: 1;
  position: absolute;
  bottom: -7%;
  left: 35%;
  width: 0;
  height: 0;
  border-left: 25vw solid transparent;
  border-right: 25vw solid transparent;
  border-bottom: 30vw solid var(--TRgreen);
}


@media screen and (max-width: 1300px) {
  .border-container h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 0 2vw;
  }

  .border-container img {
    width: 14vw;
    height: 13vh;
    margin: 0 2vw;
  }

  .border-container {
    padding: 1.8em;
  }

  .borders {
    height: 1.7vh;
  }

  .guy {
    width: 30vw;
    height: 85vh;
  }

}

@media screen and (max-width: 1200px) {

  .bottom-section h2 {
    font-size: 2em;
  }

  .border-container img {
    width: 10vw;
    height: 7vh;
  }

  .guy {
    width: 25vw;
    height: 70vh;
  }

  .main-container {
    width: 80%;
  }
}

@media screen and (max-width:1700px) {
  .top-triangle {
    right: 35.5vw;
  }

}

@media screen and (max-width:1100px) {
  .top-triangle {
    width: 30vw;
    height: 40vh;
  }
}

@media screen and (max-width: 1000px) {
  .main-container {
    width: 90%;
  }

  .finurlar img {
    width: 20%;
    height: 40%;
    margin-top: 2vh;
  }

  .guy {
    width: 25vw;
    height: 60vh;
  }


}

@media screen and (max-width:950px) {
  .top-triangle {
    width: 25vw;
    height: 35vh;
  }
}

@media screen and (max-width:700px) {
  .finurlar img {
    height: 27%;
  }
}

@media screen and (max-width:850px) {
  .guy {
    height: 50vh;
  }
}

@media screen and (max-width:650px) {
  .guy {
    height: 45vh;
  }

  .main-container {
    width: 100vw;
  }

  .bottom-section {
    margin: 1em 2em 0;
  }

  .footer-container {
    margin: 1em 2em 0;
  }

  .border-container img {
    width: 15vw;
  }

  .border-container h2 {
    margin: 0;
    font-size: 1.4;
  }

  .border-container img {
    margin: 0;
  }

  .finurlar img {
    width: 15%;
    height: 24%;
    margin-top: 1.5vh;
  }

  .top-triangle {
    width: 39vw;
    height: 33vh;
    left: 30vw;
  }
}

@media screen and (max-width:500px) {
  .top-triangle {
    top: -10em;
    left: 30vw;
    height: 25vh;
  }

  .bottom-section h2 {
    font-size: 1.5em;
  }

  .finurlar img {
    height: 20%;
    margin-top: 1.2vh;
  }
}

@media screen and (max-width:400px) {
  .guy {
    height: 30vh;
  }

  .main-container {
    margin-top: -6vh;
  }

  .bottom-section h2 {
    font-size: 1em;
  }

  .bottom-section p {
    font-size: 1.2em;
  }

  .footer-nav ul {
    margin-bottom: 0;
    justify-content: space-between;
  }

  .footer-nav a {
    font-size: 1.2em;
  }

  .triangle-Guy-bottom-container {
    overflow-y: hidden;
  }

  .border-container img {
    width: 40vw;
  }

  .finurlar img {
    width: 12%;
    height: 11%;
    margin-top: 1vh;
  }

  .top-triangle {
    width: 39vw;
    height: 25vh;
    left: 35.5vw;

  }
}
